body {
  background: #292F36;
  color: #86BBD8;
  font-family: 'PT Serif', serif;
  
}

a{
    color: #55D6BE;
    font-style: italic;
    
}

.tt{
    color: #292F36;
    font-size: 1.5em;
    
}



.maincontent{
    font-size: 1.2em;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

  /* Add some padding for when it is the width of the screen. 
     box-sizing is required to fix a quirk with how width works. */
    padding: 20px;
    box-sizing: border-box;
}

.box-model-test {
  width: 30%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 4px solid black;
  background: green;
  color: white;
  
}

.Album{
      border: 2px solid #C1C1C1;
      padding-top: 20px;
      padding-bottom: 40px;
      padding-left: 50px;
      padding-right: 50px;
     text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
}

.np{
    color: white;
    margin-bottom: 50px;
    text-align: center;
}


html, body{
    margin: 0px;
}

.hero-container {
    /* Add a lot of padding so we can see a lot of the image */
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 20px;
    padding-right: 20px;

    /* Set the background to an image */
    background: url(000024-m.jpg);

    /* Make the image cover the entirety of the hero */
    background-size: cover;
    background-position: center;

    /* Put the text in the middle */
    text-align: center;
}
